name: Reservation Bot
on:
  schedule:
    - cron: "2-59/5 * * * *"
  workflow_dispatch:        # 수동 실행 버튼 활성화
  repository_dispatch:
    types: [run-reservation-bot]

jobs:
  run-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency:
      group: reservation-bot
      cancel-in-progress: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'requirement.txt'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirement.txt

      - name: Run Bot
        env:
          MY_ALARM_TOKEN: ${{ secrets.MY_ALARM_TOKEN }}
          MY_CHAT_ID: ${{ secrets.MY_CHAT_ID }}
        run: python earth_star.py
